
@{
    ViewData["Title"] = "О компании";
}

<div style="margin-top: 20px;">
    <h2>О компании</h2>
    <p>Вы находитесь на сайте интернет-магазина компании 42 studio. У нас вы можете приобрести hand made украшения, сделанные с любовью в мастерской RainbowRaid, а также другие дизайнерские товары.</p>
    <p>ВНИМАНИЕ! Сайт работает в тестовом режиме, поэтому для оплаты используется заглушка, и доставка не действует.</p>
</div>

