
@{
    ViewData["Title"] = "Оплата завершена";
}

<div class="col-md-12" style="margin-top: 20px; text-align: center;">
    <h3>Оплата завершена</h3>
    <div>Специально обученные люди свяжутся с вами</div>
</div>
